body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #ddd;
}

p {
    font-size: 18px;
    color: #333;
}

p strong {
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

.guide-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6dd074;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.guide-button:hover {
    background-color: #88e65d;
}

.screenshots {
    margin-top: 20px;
}

.screenshot {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #70e496;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #65c079;
}
